*{
    padding: 0px;
    margin: 0px;
}


.navbar {
    margin-top: 50px;
    background-color: bisque;
    display: flex;
    width: 100%;
    height:50px;
    
    justify-content:space-between;
}

.menu {
    display: flex;
    flex-direction:row;
    align-items: center;
    list-style: none;

}

.menu button {
    margin-right: 25px;
    background-color: bisque;
    font-size: 20px;
    color: #625f5f;
    border: 0px;
    font-weight:600;
}

button{
    cursor: pointer;
}